<div class="custom-row first-row">
  <div id="error" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box info round text-center">
        ¡La acción no se ha realizado correctamente! Inténtalo de nuevo.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div id="companyAdded" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box success round text-center">
        ¡Empresa añadida!
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div id="companyRemoved" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box alert round text-center">
        ¡Empresa eliminada!
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div class="small-12 small-centered text-center column">
    <a id="categorySearch" href="#" class="large button">Búsqueda por categoría</a>
    <form id="categorySelect" action="{{ path('category-search') }}" method="post" hidden>
      {% if student is defined and student is not null %}
        <input type="hidden" name="listType" value="student" />
        <input type="hidden" name="student" value="{{ student.Id }}" />
        <input type="hidden" name="searchType" value="companies" />
      {% else %}
        <input type="hidden" name="listType" value="companies" />
      {% endif %}
      {% if categories is defined and categories is not empty %}
        <div class="small-6 small-centered column">
          <label>Selecciona una categoría
            <select name="category">
              {% for category in categories %}
                <option value="{{ category.Id }}">{{ category.Denominacion }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div class="small-2 small-centered columns">
          <button type="submit" class="button postfix">Buscar</button>
        </div>
      {% else %}
        <span class="alert round label">¡No se ha creado ninguna categoría!</span>
        <br><br>
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('category_new') }}" class="success button round"><i class="fi-plus small-icon"></i>Crear categoría</a>
        {% endif %}
      {% endif %}
    </form>
    <form id="customSelect" action="{{ path('students-custom-list') }}" method="post" hidden>
      <div class="small-6 small-centered column">
        <label>Selecciona una categoría
          <select name="category">
            {% for category in categories %}
              <option value="{{ category.Id }}">{{ category.Denominacion }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="small-6 small-centered column">
        <div class="row collapse">
          <div class="small-2 column">
            <span class="prefix"><i class="fi-credit-card medium-icon"></i></span>
          </div>
          <div class="small-4 column end">
            <input type="text" placeholder="NIF" name="nif"/>
          </div>
        </div>
      </div>
      <div class="small-12 small-centered column">
        <div class="row collapse">
          <div class="small-2 column">
            <span class="prefix">Nombre</span>
          </div>
          <div class="small-3 column">
            <input type="text" placeholder="Nombre" name="nombre"/>
          </div>
          <div class="small-2 column">
            <span class="prefix">Apellidos</span>
          </div>
          <div class="small-5 column">
            <input type="text" placeholder="Apellidos" name="apellidos"/>
          </div>
        </div>
      </div>
      <div class="small-2 small-centered column">
        <button type="submit" class="button postfix">Buscar</button>
      </div>
    </form>
    <div class="pagination-centered">
      <table class="list">
        <tbody>
        {% for company in companies %}
          <tr>
            <td>{{ company.Denominacion }}</td>
            <td>
              {% if student is defined and student is not null %}
                {% if student_categorized_companies_list is defined %}
                  <a class="categorized-company-add-link success radius small button" href="{{ path('add_company', { 'id' : student.Id, 'company_id' : company.Id }) }}">
                    <i class="fi-check small-icon"></i>
                  </a>
                {% else %}
                  <a class="company-add-link success radius small button" href="{{ path('add-company', { 'id' : student.Id, 'company_id' : company.Id }) }}">
                    <i class="fi-check small-icon"></i>
                  </a>
                {% endif %}
              {% endif %}
              <a href="{{ path('company-edit', { 'id' : company.Id }) }}" class="warning radius small button">
                <i class="fi-page-edit small-icon"></i>
              </a>
              {% if is_granted('ROLE_USER') %}
                <a href="{{ path('company-remove', { 'id' : company.Id }) }}" class="remove-company-link alert radius small button">
                  <i class="fi-trash small-icon"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% else %}
          {% if student_categorized_companies_list is defined or category_empty_list is defined %}
            <p><span class="warning round label">No existen empresas que pertenezcan a esa categoría</span></p>
          {% else %}
            <div>
              <span class="alert round label">¡No se ha registrado ninguna empresa!</span>
            </div>
          {% endif %}
          {% if is_granted('ROLE_USER') %}
            <a href="{{ path('company-new') }}" class="success button round"><i class="fi-plus small-icon"></i>Registrar empresa</a>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
      {% if pages is not null %}
        <ul class="pagination">
          {% for number, position in pages %}
            {% if position == 'first' %}
              <li class="arrow">
                <a
                  {% if student_companies_list is defined %}
                    href="{{ path('add_companies', { 'id' : student.Id, 'page' : number }) }}"
                  {% elseif student_categorized_companies_list is defined %}
                    href="{{ path('add_categorized_companies', { 'id' : student.Id, 'category_id' : category_id, 'page' : number }) }}"
                  {% elseif companies_list is defined %}
                    href="{{ path('companies_list', { 'page' : number }) }}"
                  {% else %}
                    href="{{ path('studies_category_list', { 'id' : category_id, 'page' : number }) }}"
                  {% endif %}
                >&laquo;</a>
              </li>
            {% elseif position == 'less' or position == 'more' %}
              <li class="unavailable"><a href="">&hellip;</a></li>
            {% elseif position == 'previous' or position == 'next' %}
              <li>
                <a
                  {% if student_companies_list is defined %}
                    href="{{ path('add_companies', { 'id' : student.Id, 'page' : number }) }}"
                  {% elseif student_categorized_companies_list is defined %}
                    href="{{ path('add_categorized_companies', { 'id' : student.Id, 'category_id' : category_id, 'page' : number }) }}"
                  {% elseif companies_list is defined %}
                    href="{{ path('companies_list', { 'page' : number }) }}"
                  {% else %}
                    href="{{ path('companies_category_list', { 'id' : category_id, 'page' : number }) }}"
                  {% endif %}
                >{{ number }}</a>
              </li>
            {% elseif position == 'current' %}
              <li class="current"><a href="">{{ number }}</a></li>
            {% elseif position == 'last' %}
              <li class="arrow">
                <a
                  {% if student_companies_list is defined %}
                    href="{{ path('add_companies', { 'id' : student.Id, 'page' : number }) }}"
                  {% elseif student_categorized_companies_list is defined %}
                    href="{{ path('add_categorized_companies', { 'id' : student.Id, 'category_id' : category_id, 'page' : number }) }}"
                  {% elseif companies_list is defined %}
                    href="{{ path('companies_list', { 'page' : number }) }}"
                  {% else %}
                    href="{{ path('companies_category_list', { 'id' : category_id, 'page' : number }) }}"
                  {% endif %}
                >&raquo;</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% if student is defined and student is not null %}
      <a class="round button" href="{{ path('student-edit', { 'id' : student.Id }) }}">Volver</a>
    {% elseif category_list is defined %}
      <a class="round button" href="{{ path('companies-list') }}"><i class="fi-list-thumbnails small-icon"></i>Ir al listado</a>
    {% endif %}
  </div>
</div>