{% extends 'layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="small-12 small-centered large-centered columns">
      <h2 id="modalTitle" class="text-center">Añadir empresa</h2>
      <p class="lead text-center">Selecciona la empresa o empresas que quieres asociar al alumno</p>
      <div class="pagination-centered">
        <table>
          <tbody>
          {% for company in companies %}
            <tr>
              <td>{{ company.Denominacion }}</td>
              <td>
                <a class="button success" href="{{ path('add_company', { 'student' : student, 'company' : company }) }}">
                  <i class="fi-check"></i>
                </a>
              </td>
            </tr>
          {% else %}
            <div class="text-center">
              <span class="alert round label">¡No se ha registrado ninguna empresa!</span>
              {% if is_granted('ROLE_USER') %}
                <a href="{{ path('company_new') }}" class="success button round"><i class="fi-plus medium-icon"></i>Crear empresa</a>
              {% endif %}
            </div>
          {% endfor %}
          </tbody>
        </table>
        {% if pages is not null %}
          <ul class="pagination">
            {% for number, position in pages %}
              {% if position == 'first' %}
                <li class="arrow"><a href="student/{{ student.Id }}/companies/{{ number }}">&laquo;</a></li>
              {% elseif position == 'less' or position == 'more' %}
                <li class="unavailable"><a href="">&hellip;</a></li>
              {% elseif position == 'previous' or position == 'next' %}
                <li><a href="student/{{ student.Id }}/companies/{{ number }}">{{ number }}</a></li>
              {% elseif position == 'current_page' %}
                <li class="current"><a href="">{{ number }}</a></li>
              {% elseif position == 'last' %}
                <li class="arrow"><a href="student/{{ student.Id }}/companies/{{ number }}">&raquo;</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% if add_companies is defined %}
        <a id="addCompanies" class="success round button"><i class="fi-plus"></i>&nbsp;Añadir empresas</a>
      {% endif %}
    </div>
  </div>
{% endblock %}