<div class="custom-row first-row">
  <div id="error" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box alert round text-center">
        ¡La acción no se ha realizado correctamente! Inténtalo de nuevo.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div id="studentRemoved" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box alert round text-center">
        ¡Alumno eliminado!
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div class="small-12 column text-center">
    <h3>Pulsa sobre el tipo de filtro que deseas aplicar:</h3>
    <ul class="button-group radius even-4">
      <li>
        <a id="studySearch" href="#" class="button">
          <span class="show-for-medium-up">Por estudios</span>
          <i class="show-for-small-only fi-book-bookmark medium-icon"></i>
        </a>
      </li>
      <li>
        <a id="knowledgeSearch" href="#" class="button">
          <span class="show-for-medium-up">Por conocimientos</span>
          <i class="show-for-small-only fi-bookmark medium-icon"></i>
        </a>
      </li>
      <li>
        <a id="companySearch" href="#" class="button">
          <span class="show-for-medium-up">Por empresa</span>
          <i class="show-for-small-only fi-torsos medium-icon"></i>
        </a>
      </li>
      <li>
        <a id="customSearch" href="#" class="button">
          <span class="show-for-medium-up">Búsqueda avanzada</span>
          <i class="show-for-small-only fi-widget medium-icon"></i>
        </a>
      </li>
    </ul>
    <form id="knowledgeSelect" action="{{ path('knowledge-search') }}" method="post" hidden>
      {% if knowledges is defined and knowledges is not empty %}
        {% if company is defined and company is not null %}
          <input type="hidden" name="listType" value="company" />
          <input type="hidden" name="company" value="{{ company.Id }}" />
        {% elseif study is defined and study is not null %}
          <input type="hidden" name="listType" value="study" />
          <input type="hidden" name="study" value="{{ study.Id }}" />
        {% elseif knowledge is defined and knowledge is not null %}
          <input type="hidden" name="listType" value="knowledge" />
          <input type="hidden" name="knowledge" value="{{ knowledge.Id }}" />
        {% else %}
          <input type="hidden" name="listType" value="student" />
        {% endif %}
        <div class="small-6 small-centered column">
          <label>Selecciona una conocimiento
            <select name="knowledgeSelect">
              {% for knowledge in knowledges %}
                <option value="{{ knowledge.Id }}">{{ knowledge.Denominacion }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div class="small-2 small-centered columns">
          <button type="submit" class="button postfix">Buscar</button>
        </div>
      {% else %}
        <span class="alert round label">¡No se ha creado ningún conocimiento!</span>
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('knowledge_edit', { 'id' : 0 }) }}" class="success button round"><i class="fi-plus small-icon"></i>Crear conocimiento</a>
        {% endif %}
      {% endif %}
    </form>
    <form id="studySelect" action="{{ path('study-search') }}" method="post" hidden>
      {% if studies is defined and studies is not empty %}
        {% if company is defined and company is not null %}
          <input type="hidden" name="listType" value="company" />
          <input type="hidden" name="company" value="{{ company.Id }}" />
        {% elseif study is defined and study is not null %}
          <input type="hidden" name="listType" value="study" />
          <input type="hidden" name="study" value="{{ study.Id }}" />
        {% elseif knowledge is defined and knowledge is not null %}
          <input type="hidden" name="listType" value="knowledge" />
          <input type="hidden" name="knowledge" value="{{ knowledge.Id }}" />
        {% else %}
          <input type="hidden" name="listType" value="student" />
        {% endif %}
        <div class="small-6 small-centered column">
          <label>Selecciona un estudio
            <select name="studySelect">
              {% for study in studies %}
                <option value="{{ study.Id }}">{{ study.Denominacion }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div class="small-2 small-centered columns">
          <button type="submit" class="button postfix">Buscar</button>
        </div>
      {% else %}
        <span class="alert round label">¡No se ha creado ningún estudio!</span>
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('study-edit', { 'id' : 0 }) }}" class="success button round"><i class="fi-plus small-icon"></i>Crear estudio</a>
        {% endif %}
      {% endif %}
    </form>
    <form id="companySelect" action="{{ path('company-search') }}" method="post" hidden>
      {% if companies is defined and companies is not empty %}
        {% if company is defined and company is not null %}
          <input type="hidden" name="listType" value="company" />
          <input type="hidden" name="company" value="{{ company.Id }}" />
        {% elseif study is defined and study is not null %}
          <input type="hidden" name="listType" value="study" />
          <input type="hidden" name="study" value="{{ study.Id }}" />
        {% elseif knowledge is defined and knowledge is not null %}
          <input type="hidden" name="listType" value="knowledge" />
          <input type="hidden" name="knowledge" value="{{ knowledge.Id }}" />
        {% else %}
          <input type="hidden" name="listType" value="student" />
        {% endif %}
        <div class="small-6 small-centered column">
          <label>Selecciona una empresa
            <select name="companySelect">
              {% for enterprise in companies %}
                <option value="{{ enterprise.Id }}">{{ enterprise.Denominacion }}</option>
              {% endfor %}
            </select>
          </label>
        </div>
        <div class="small-2 small-centered columns">
          <button type="submit" class="button postfix">Buscar</button>
        </div>
      {% else %}
        <span class="alert round label">¡No se ha registrado ninguna empresa!</span>
        <br><br>
        {% if is_granted('ROLE_USER') %}
          <a href="{{ path('company-new', { 'id' : 0 }) }}" class="success button round"><i class="fi-plus small-icon"></i>Registrar empresa</a>
        {% endif %}
      {% endif %}
    </form>
    <form id="customSelect" action="{{ path('students-custom-list') }}" method="post" hidden>
      {% if company is defined and company is not null %}
        <input type="hidden" name="listType" value="company" />
        <input type="hidden" name="company" value="{{ company.Id }}" />
      {% elseif study is defined and study is not null %}
        <input type="hidden" name="listType" value="study" />
        <input type="hidden" name="study" value="{{ study.Id }}" />
      {% elseif knowledge is defined and knowledge is not null %}
        <input type="hidden" name="listType" value="knowledge" />
        <input type="hidden" name="knowledge" value="{{ knowledge.Id }}" />
      {% else %}
        <input type="hidden" name="listType" value="student" />
      {% endif %}
      <div class="small-6 small-centered column">
        <label>Selecciona un conocimiento
          <select name="knowledge">
            <option value="" selected></option>
            {% for knowledge in knowledges %}
              <option value="{{ knowledge.Id }}">{{ knowledge.Denominacion }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="small-6 small-centered column">
        <label>Selecciona un estudio
          <select name="study">
            <option value="" selected></option>
            {% for study in studies %}
              <option value="{{ study.Id }}">{{ study.Denominacion }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="small-6 small-centered column">
        <label>Selecciona una empresa
          <select name="company">
            <option value="" selected></option>
            {% for company in companies %}
              <option value="{{ company.Id }}">{{ company.Denominacion }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="small-12 small-centered column">
        <div class="row collapse">
          <div class="small-4 column">
            <span class="prefix"><i class="fi-credit-card medium-icon"></i></span>
          </div>
          <div class="small-8 column end">
            <input type="text" placeholder="NIF" name="nif"/>
          </div>
        </div>
      </div>
      <div class="small-12 small-centered column">
        <div class="row collapse">
          <div class="small-4 medium-2 large-2 column">
            <span class="prefix">Nombre</span>
          </div>
          <div class="small-8 medium-3 large-3 column">
            <input type="text" placeholder="Nombre" name="nombre"/>
          </div>
          <div class="show-for-medium-up medium-2 large-2 column">
            <span class="prefix">Apellidos</span>
          </div>
          <div class="show-for-medium-up medium-5 large-5 column">
            <input type="text" placeholder="Apellidos" name="apellidos"/>
          </div>
        </div>
        <div class="show-for-small-only small-12 small-centered column">
          <div class="row collapse">
            <div class="small-4 column">
              <span class="prefix">Apellidos</span>
            </div>
            <div class="small-8 column">
              <input type="text" placeholder="Apellidos" name="apellidos"/>
            </div>
          </div>
        </div>
      </div>
      <div class="small-2 small-centered column">
        <button type="submit" class="button postfix">Buscar</button>
      </div>
    </form>
    <div id="studentAdded" class="custom-row first-row" hidden>
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box success round text-center">
          ¡Alumno asociado!
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    <div id="studentRemoved" class="custom-row first-row" hidden>
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box alert round text-center">
          ¡Alumno eliminado!
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
    {% if students is defined and students is not empty %}
      <div class="small-12 small-centered columns">
        <table class="list">
          <thead>
          <tr>
            <th>NIF</th>
            <th>Nombre</th>
            <th class="show-for-medium-up">Datos de contacto</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
          {% for student in students %}
            <tr>
              <td>{{ student.NIF }}</td>
              <td>{{ student.Apellidos }},&nbsp;{{ student.Nombre }}</td>
              <td class="show-for-medium-up"><strong>Tlf:</strong>&nbsp;{{ student.Telefono }}<br><strong>Email:</strong>&nbsp;{{ student.Email }}</td>
              <td>
                {% if company_students_list is defined %}
                  <a class="student-add-link success radius small button" href="{{ url('company-add-student', { 'id' : company.Id, 'student_id' : student.Id }) }}">
                    <i class="fi-check small-icon"></i>
                  </a>
                {% elseif study_students_list is defined %}
                  <a class="student-add-link success radius small button" href="{{ url('study-add-student', { 'id' : study.Id, 'student_id' : student.Id }) }}">
                    <i class="fi-check small-icon"></i>
                  </a>
                {% elseif knowledge_students_list is defined %}
                  <a class="student-add-link success radius small button" href="{{ url('knowledge-add-student', { 'id' : knowledge.Id, 'student_id' : student.Id }) }}">
                    <i class="fi-check small-icon"></i>
                  </a>
                {% endif %}
                <a href="{{ path('student-edit', { 'id' : student.Id }) }}" class="warning radius small button">
                  <i class="fi-page-edit small-icon"></i>
                </a>
                {% if is_granted('ROLE_USER') %}
                  <a href="{{ path('student-remove', { 'id' : student.Id }) }}" class="remove-link alert radius small button">
                    <i class="fi-trash small-icon"></i>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% if pages is defined and pages is not null %}
          <div class="pagination-centered">
            <ul class="pagination">
              {% for number, position in pages %}
                {% if position == 'first' %}
                  <li class="arrow">
                    <a
                        {% if all_list is defined %}
                          href="/students/all/{{ number }}"
                        {% elseif study_list is defined %}
                          href="/students/study/{{ study_id }}/{{ number }}"
                        {% elseif knowledge_list is defined %}
                          href="/students/knowledge/{{ knowledge_id }}/{{ number }}"
                        {% endif %}
                        >&laquo;</a>
                  </li>
                {% elseif position == 'less' or position == 'more' %}
                  <li class="unavailable"><a href="">&hellip;</a></li>
                {% elseif position == 'previous' or position == 'next' %}
                  <li>
                    <a
                        {% if all_list is defined %}
                          href="/students/all/{{ number }}"
                        {% elseif study_list is defined %}
                          href="/students/study/{{ study_id }}/{{ number }}"
                        {% elseif knowledge_list is defined %}
                          href="/students/knowledge/{{ knowledge_id }}/{{ number }}"
                        {% endif %}
                        >{{ number }}</a>
                  </li>
                {% elseif position == 'current' %}
                  <li class="current"><a href="">{{ number }}</a></li>
                {% elseif position == 'last' %}
                  <li class="arrow">
                    <a
                        {% if all_list is defined %}
                          href="/students/all/{{ number }}"
                        {% elseif study_list is defined %}
                          href="/students/study/{{ study_id }}/{{ number }}"
                        {% elseif knowledge_list is defined %}
                          href="/students/knowledge/{{ knowledge_id }}/{{ number }}"
                        {% endif %}
                        >&raquo;</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% else %}
      {% if study_empty_list is defined %}
        {% if company_students_list is defined or study_students_list is defined %}
          <p><span class="warning round label">No existen alumnos registrados que posean ese estudio o ya están asociados</span></p>
        {% else %}
          <p><span class="warning round label">No existen alumnos registrados que posean ese estudio</span></p>
        {% endif %}
      {% elseif knowledge_empty_list is defined %}
        {% if company_students_list is defined or study_students_list is defined %}
          <p><span class="warning round label">No existen alumnos registrados que posean ese estudio o ya están asociados</span></p>
        {% else %}
          <p><span class="warning round label">No existen alumnos registrados que posean ese conocimiento</span></p>
        {% endif %}
      {% elseif company_empty_list is defined %}
        {% if company_students_list is defined or study_students_list is defined %}
          <p><span class="warning round label">No existen alumnos registrados asociados a esta empresa o ya están asociados</span></p>
        {% else %}
          <p><span class="warning round label">No existen alumnos registrados asociados a esta empresa</span></p>
        {% endif %}
      {% else %}
        {% if company_students_list is defined %}
          {% if company_students_list is defined %}
            <p><span class="warning round label">No existen alumnos registrados que posean ese estudio o ya están asociados</span></p>
          {% else %}
            <p><span class="warning round label">No existen alumnos registrados o ya están asociados</span></p>
          {% endif %}
        {% else %}
          {% if company_students_list is defined %}
            <p><span class="warning round label">No existen alumnos registrados o ya están asociados</span></p>
          {% else %}
            <p><span class="warning round label">No existen alumnos registrados</span></p>
          {% endif %}
        {% endif %}
      {% endif %}
      <a href="{{ path('student-edit', { 'id' : 0 }) }}" class="success button round"><i class="fi-plus"></i>&nbsp;Registrar alumno</a>
    {% endif %}
    {% if company_students_list is defined %}
      <a href="{{ path('company-edit', { 'id' : company.Id }) }}" class="button round">Volver</a>
    {% elseif study_students_list is defined %}
      <a href="{{ path('study-edit', { 'id' : study.Id }) }}" class="button round">Volver</a>
    {% elseif knowledge_students_list is defined %}
      <a href="{{ path('knowledge-edit', { 'id' : knowledge.Id }) }}" class="button round">Volver</a>
    {% endif %}
  </div>
</div>