{% extends 'layout.html.twig' %}


{% block breadcrumbs %}
	<li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
	<li><i class="fi-bookmark small-icon current"></i></li>
{% endblock %}

{% block content %}
	<form 
		{% if form_type == 'new' %} 
			action="{{ path('category_create') }}" 
		{% elseif form_type == 'edit' %}
			action="{{ path('category_edit') }}"
		{% endif %}
	method="post" data-abide>
	  	<fieldset>
	    	<legend>Datos de la Categoría</legend>
	    	<div class="row">
			    <div class="small-12 column">
			    	<label>Denominación
				      	<input type="text" placeholder="Denominación" pattern="alpha" 
				      		{% if category is defined and category is not null %}
								value="{{ category.Denominacion }}"
							{% endif %}
				      	required/>
				      	<small class="error">No se permiten números en el nombre</small>
				    </label>
			    </div>
			</div>
			<div class="row">
			    <div class="small-12 column">
			    	<label>Descripción
			      		<textarea placeholder="Descripción">
			      			{% if category is defined and category is not null %}
								value="{{ category.Descripcion }}"
							{% endif %}
			      		</textarea>
			      	</label>
			    </div>
			</div>
			{% if is_granted('ROLE_USER') %}						
				<div class="small-3 small-centered column">
					{% if form_type == 'new' %}
	            		<button type="submit" class="button expand round sucess"><i class="small-icon fi-plus"></i>Crear categoría</button>
	                {% elseif form_type == 'edit' %}
	                	<button type="submit" class="button expand round sucess"><i class="small-icon fi-pencil"></i>Modificar categoría</button>
	                {% endif %}
	              	</div>
	              		{% if form_type == 'new' %}
		              		<div class="small-3 small-centered column">
		                		<button type="reset" class="button expand round alert"><i class="small-icon fi-trash"></i>Limpiar</button>
		              		</div>
		              	{% endif %}          			
	              	{% endif %}
	              	<div class="small-3 small-centered column">
	              		<a href="{{ path('categories_list') }}" class="button round"><i class="small-icon fi-list-thumbnails"></i>Volver al listado</a>
	              	</div>
	  	</fieldset>
	</form>
{% endblock %}