{% extends 'layout.html.twig' %}

{% block content %}
  <div class="first-row">
    <div class="small-10 small-offset-1">
      <h3>¿Olvidaste tu contraseña?</h3>
      <p>
        Introduze tu dirección de email y se te enviará un email para modificarla.
      </p>
    </div>
  </div>
  <form method="POST" action="{{ path('reset-password') }}" data-abide>
    <div class="small-12 column">
      <div class="row collapse">
        <div class="small-4 medium-2 large-2 columns">
          <span class="prefix"><i class="fi-torso medium-icon"></i></span>
        </div>
        <div class="small-8 medium-10 large-10 columns">
          <input type="text" placeholder="Username" name="_username" value="{{ last_username }}" required>
          <small class="error">Debes indicar un nombre de usuario</small>
        </div>
      </div>
      <div class="small-6 large-6 columns">
        <span class="postfix">{{ domain }}</span>
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-1">
        <hr/>
        <p>
          Si no recibes el email asegurate de que no se encuentra en la carpeta de Spam
          Dirección de envío: <strong>{{ sender }}</strong>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 column">
        <div class="small-3 column">
          <button type="submit" class="button radius">Enviar email de cambio de contraseña</button>
        </div>
        <div class="small-3 column">
          <a class="button secondary" href="{{ path('user.login') }}">Ir a login</a>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
