{% extends 'layout.html.twig' %}


{% block breadcrumbs %}
	<li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
	<li class="current"><i class="fi-bookmark small-icon"></i></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 column">
			<form
				{% if form_type == 'new' %} 
					action="{{ path('knowledge-edit', { 'id': 0 }) }}"
				{% elseif form_type == 'edit' %}
					action="{{ path('knowledge-update', { 'id': knowledge.Id }) }}"
				{% endif %}
			method="post" data-abide>
			  	<fieldset>
			    	<legend>Datos del Conocimiento</legend>
			    	<div class="row">
					    <div class="small-12 column">
					    	<label>Denominación
						      <input type="text" placeholder="Denominación" pattern="alpha"
						      	{% if knowledge is defined and knowledge is not null %}
							      		value="{{ knowledge.Denominacion }}"
                    {% endif %}
                  required/>
						      <small class="error">No se permiten números en el nombre</small>
						    </label>
					    </div>
					  </div>
            <div class="row">
                <div class="small-12 column">
                  <label>Descripción
                      <textarea placeholder="Descripción"
                        {% if knowledge is defined and knowledge is not null %}
                          value="{{ knowledge.Descripcion }}"
                        {% endif %}
                      ></textarea>
                    </label>
                </div>
            </div>
            {% if knowledge is defined and knowledge is not null %}
              <div class="row">
                <h3>Categorías</h3>
                {% if knowledge.Categorias is not empty %}
                  <table class="list">
                    <thead>
                    <tr>
                      <th>Denominación</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in knowledge.Categorias %}
                      <tr>
                        <td>{{ category.Denominacion }}</td>
                        <td>
                          {% if is_granted('ROLE_USER') %}
                            <a class="button warning" href="{{ path('category_edit', { 'id': category.Id }) }}"><i class="fi-page-edit"></i></a>
                            <a class="button alert category-remove-link" href="{{ path('knowledge-remove-category', { 'id': knowledge.Id, 'category_id': category.Id }) }}">
                              <i class="fi-x small-icon"></i>
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p class="text-center"><span class="warning round label">No existen categorias asociadas</span></p>
                {% endif %}
              </div>
            {% endif %}
            {% if knowledge is defined and knowledge is not null %}
              <div class="row">
                <h3>Alumnos</h3>
                {% if knowledge.Alumnos is not empty %}
                  <table class="list">
                    <thead>
                      <tr>
                        <th>Denominación</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for student in knowledge.Alumnos %}
                        <tr>
                          <td>{{ student.Apellidos }}</td>
                          <td>{{ student.Nombre }}</td>
                          <td>{{ student.NIF }}</td>
                          <td>
                            {% if is_granted('ROLE_USER') %}
                              <a class="button warning" href="{{ path('student-edit', { 'id' : student.Id }) }}"><i class="fi-page-edit"></i></a>
                              <a class="button alert student-remove-link" href="{{ path('knowledge-remove-student', { 'id' : knowledge.Id, 'student_id' : student.Id }) }}">
                                <i class="fi-x small-icon"></i>
                              </a>
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p class="text-center"><span class="warning round label">No existen alumnos que posean este conocimiento</span></p>
                {% endif %}
              </div>
            {% endif %}
            {% if form_type == 'edit' %}
              <div class="row">
                <div class="small-12 column">
                  <ul class="button-group round even-2">
                    <li><a href="{{ path('knowledge-add-categories', { 'id' : knowledge.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir categoría</a></li>
                    <li><a href="{{ path('knowledge-add-students', { 'id' : knowledge.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir alumno</a></li>
                  </ul>
                </div>
              </div>
            {% endif %}
            <div class="small-4 column">
              {% if form_type == 'new' %}
                <button type="submit" class="success round button"><i class="small-icon fi-plus"></i>Crear conocimiento</button>
              {% elseif form_type == 'edit' %}
                <button type="submit" class="warning round button"><i class="small-icon fi-pencil"></i>Modificar conocimiento</button>
              {% endif %}
            </div>
            {% if form_type == 'new' %}
              <div class="small-4 column">
                <button type="reset" class="button expand round alert"><i class="small-icon fi-trash"></i>Limpiar</button>
              </div>
            {% endif %}
            <div class="small-4 column">
              <a href="{{ path('knowledges-list') }}" class="button round"><i class="small-icon fi-list-thumbnails"></i>Volver al listado</a>
            </div>
			  	</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/knowledges.js') }}"></script>
{% endblock %}