{% extends 'layout.html.twig' %}


{% block breadcrumbs %}
	<li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
	<li><i class="fi-book-bookmark small-icon current"></i></li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="small-12 column">
			<form 
				{% if form_type == 'new' %} 
					action="{{ path('study_create') }}" 
				{% elseif form_type == 'edit' %}
					action="{{ path('study_edit') }}"
				{% endif %}
			method="post" data-abide>
			  	<fieldset>
			    	<legend>Datos del Estudio</legend>
			    	<div class="row">
					    <div class="small-12 column">
					    	<label>Denominación
						      	<input type="text" placeholder="Denominación" pattern="alpha" 
						      	{% if study is defined and study is not null %}
						      		value="{{ study.Denominacion }}"
						      	{% endif %}
						      	required/>
						      	<small class="error">No se permiten números en el nombre</small>
						    </label>
					    </div>
					</div>
					<div class="row">
					    <div class="small-12 column">
					    	<label>Descripción
					      		<textarea placeholder="Descripción">
					      			{% if study is defined and study is not null %}
					      				{{ study.Descripcion }}
					      			{% endif %}
					      		</textarea>
					      	</label>
					    </div>
					</div>
					<div class="row">
						<h3>Categorías</h3>
						<table>
							<thead>
								<tr>
							    	<th>Denominación</th>
							      	<th>Acciones</th>
							    </tr>
							</thead>
							<tbody>
								{% if study is defined and study is not null %}
									{% for category in study.Categorias %}
					      				<tr>
					      					<td>{{ category.Denominacion }}</td>
					      					<td>
					      						{% if is_granted('ROLE_USER') %}
					      							<ul class="button-group round even-2">
					      								<li><a class="button warning" href="{{ path('category_edit') }}"><i class="fi-page-edit"></i></a></li>
					      								<li><a class="button alert" href="{{ path('remove_study_category') }}"><i class="fi-x"></i></a></li>
					      							</ul>
					      						{% endif %}
					      					</td>
					      				</tr>
					      			{% else %}
					      				<p class="text-center"><span class="warning round label">No existen categorias asociadas</span></p>
					      			{% endfor %}
					      		{% endif %}
							</tbody>
						</table>
						{% if is_granted('ROLE_USER') %}
							<a href="" class="sucess radius button" data-reveal-id="categoryModal"><i class="fi-plus"></i>&nbsp;Añadir categoría</a>
						{% endif %}
					</div>
					<div class="row">
						<h3>Alumnos</h3>
						<table>
							<thead>
								<tr>
							    	<th>Apellidos</th>
							      	<th>Nombre</th>
							      	<th>NIF</th>
							      	<th>Acciones</th>
							    </tr>
							</thead>
							<tbody>
								{% if study is defined and study is not null %}
									{% for student in study.Alumnos %}
					      				<tr>
					      					<td>{{ student.Apellidos }}</td>
					      					<td>{{ student.Nombre }}</td>
					      					<td>{{ student.NIF }}</td>
					      					<td>
					      						{% if is_granted('ROLE_USER') %}
					      							<ul class="button-group round even-2">
					      								<li><a class="button warning" href="{{ path('student_edit') }}"><i class="fi-page-edit"></i></a></li>
					      								<li><a class="button alert" href="{{ path('remove_student_study') }}"><i class="fi-x"></i></a></li>
					      							</ul>
					      						{% endif %}
					      					</td>
					      				</tr>
					      			{% else %}
					      				<p class="text-center"><span class="warning round label">No existen alumnos que posean este título</span></p>
					      			{% endfor %}
					      		{% endif %}
							</tbody>
						</table>
						{% if is_granted('ROLE_USER') %}
							<a href="" class="sucess radius button" data-reveal-id="studentModal"><i class="fi-plus"></i>&nbsp;Añadir alumno</a>
						{% endif %}
					</div>
					{% if is_granted('ROLE_USER') %}						
						<div class="small-3 small-centered column">
							{% if form_type == 'new' %}
                				<button type="submit" class="button expand round sucess"><i class="small-icon fi-plus"></i>Crear estudio</button>
                			{% elseif form_type == 'edit' %}
                				<button type="submit" class="button expand round sucess"><i class="small-icon fi-pencil"></i>Modificar estudio</button>
                			{% endif %}
              			</div>
              			{% if form_type == 'new' %}
	              			<div class="small-3 small-centered column">
	                			<button type="reset" class="button expand round alert"><i class="small-icon fi-trash"></i>Limpiar</button>
	              			</div>
	              		{% endif %}          			
              		{% endif %}
              		<div class="small-3 small-centered column">
              			<a href="{{ path('studies_list') }}" class="button round"><i class="small-icon fi-list-thumbnails"></i>Volver al listado</a>
              		</div>
			  	</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block modals %}
	{{ parent() }}
	<div id="companyModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-centered columns">
        <h2 id="modalTitle" class="text-center">Añadir categoría</h2>
        <p class="lead text-center">Selecciona la categoría o categorías que quieres asociar al título</p>
        <div class="pagination-centered">
	        <table>
				<tbody>
					{% for category in categories %}
						<tr>
							<td>{{ category.Denominacion }}</td>
							<td><a class="button success" href="{{ path('add_study_category') }}"><i class="fi-check"></i></a></td>
						</tr>
						{% else %}
							<div class="text-center">
								<span class="alert round label">¡No se ha creado ninguna categoría!</span>
								<a href="{{ path('category_new') }}" class="success button round"><i class="fi-plus medium-icon"></i>Crear categoría</a>
              </div>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
			{% if pages is defined %}
				<ul class="pagination">
	    			{% for number, position in pages %}
    					{% if position == 'first' %}
      						<li class="arrow"><a href="/{{ number }}">&laquo;</a></li>
    					{% elseif position == 'less' or position == 'more' %}
					      <li class="unavailable"><a href="">&hellip;</a></li>
					    {% elseif position == 'previous' or position == 'next' %}
					      <li><a href="/{{ number }}">{{ number }}</a></li>
					    {% elseif position == 'current' %}
					      <li class="current"><a href="">{{ number }}</a></li>
					    {% elseif position == 'last' %}
					      <li class="arrow"><a href="/{{ number }}">&raquo;</a></li>
					    {% endif %}
				    {% endfor %}
				</ul>
			{% endif %}
		</div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <div id="studentModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-centered columns">
        <h2 id="modalTitle" class="text-center">Añadir alumno</h2>
        <p class="lead text-center">Selecciona el alumno u alumnos que posean este título</p>
        <div class="pagination-centered">
	        <table>
				<tbody>
					{% for student in studies %}
						<tr>
							<td>{{ student.Apellidos }}</td>
							<td>{{ student.Nombre }}</td>
							<td>{{ student.NIF }}</td>
							<td><a class="button success" href="{{ path('add_student_study') }}"><i class="fi-check"></i></a></td>
						</tr>
						{% else %}
							<div class="text-center">
								<span class="alert round label">¡No se ha registrado ningun alumno!</span>
								<a href="{{ path('student_new') }}" class="success button round"><i class="fi-plus medium-icon"></i>Crear alumno</a>
              </div>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
			{% if pages is defined %}
				<ul class="pagination">
	    			{% for number, position in pages %}
    					{% if position == 'first' %}
      						<li class="arrow"><a href="/{{ number }}">&laquo;</a></li>
    					{% elseif position == 'less' or position == 'more' %}
					      <li class="unavailable"><a href="">&hellip;</a></li>
					    {% elseif position == 'previous' or position == 'next' %}
					      <li><a href="/{{ number }}">{{ number }}</a></li>
					    {% elseif position == 'current' %}
					      <li class="current"><a href="">{{ number }}</a></li>
					    {% elseif position == 'last' %}
					      <li class="arrow"><a href="/{{ number }}">&raquo;</a></li>
					    {% endif %}
				    {% endfor %}
				</ul>
			{% endif %}
		</div>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
{% endblock %}