{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
	<li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
	<li class="current"><i class="fi-torso small-icon"></i></li>
{% endblock %}

{% block content %}
	{% if new_student is defined %}
    <div class="custom-row first-row">
	    <div class="small-6 small-centered column">
	      <div data-alert class="alert-box success round text-center">
	        ¡Alumno creado!
	        <a href="#" class="close">&times;</a>
	      </div>
	    </div>
	  </div>
  {% endif %}
  {% if update_student is defined %}
    <div class="custom-row first-row">
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box info round text-center">
          ¡Alumno modificado!
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  {% endif %}
  <div id="error" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box info round text-center">
        ¡Algo ha salido mal! Inténtalo de nuevo.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <form
          {% if form_type == 'new' %}
            action="{{ path('student-new') }}"
          {% else %}
            action="{{ path('student-update', { 'id' : student.Id }) }}"
          {% endif %}
          method="post" data-abide>
        {% if form_type == 'new' %}
          <input type="hidden" id="_method" name="_method" value="PUT" />
        {% endif %}
        <fieldset>
          <legend>Datos del Alumno</legend>
          <div class="row collapse">
            <div class="small-2 column">
              <span class="prefix"><i class="fi-credit-card medium-icon"></i></span>
            </div>
            <div class="small-10 column">
              <input type="text" placeholder="NIF" pattern="[\d{8}\w{1}]" name="nif"
                  {% if student is defined and student is not null %}
                    value="{{ student.NIF }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar un NIF válido</small>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 column">
              <span class="prefix">Nombre</span>
            </div>
            <div class="small-10 medium-4 large-4 columns">
              <input type="text" placeholder="Nombre" pattern="alpha" name="nombre"
                  {% if student is defined and student is not null %}
                    value="{{ student.Nombre }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar un nombre válido</small>
            </div>
            <div class="large-2 column show-for-medium-up">
              <span class="prefix">Apellidos</span>
            </div>
            <div class="medium-4 large-4 columns show-for-medium-up">
              <input type="text" placeholder="Apellidos" pattern="surnames" name="apellidos"
                  {% if student is defined and student is not null %}
                    value="{{ student.Apellidos }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar unos apellidos válidos</small>
            </div>
          </div>
          <div class="row collapse show-for-small-only">
            <div class="small-2 column">
              <span class="prefix">Apellidos</span>
            </div>
            <div class="small-10 column">
              <input type="text" placeholder="Apellidos" pattern="surnames" name="small_apellidos"
                  {% if student is defined and student is not null %}
                    value="{{ student.Apellidos }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar unos apellidos válidos</small>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 column">
              <span class="prefix"><i class="fi-map medium-icon"></i></span>
            </div>
            <div class="small-10 medium-6 large-6 columns">
              <input type="text" placeholder="Dirección" name="direccion"
                  {% if student is defined and student is not null %}
                    value="{{ student.Direccion }}"
                  {% endif %}/>
            </div>
            <div class="large-2 column show-for-medium-up">
              <span class="prefix">CP</span>
            </div>
            <div class="medium-2 large-2 columns show-for-medium-up">
              <input type="text" placeholder="CP" name="cp"
                  {% if student is defined and student is not null %}
                    value="{{ student.CP }}"
                  {% endif %}/>
            </div>
          </div>
          <div class="row collapse show-for-small-only">
            <div class="small-2 column">
              <span class="prefix">CP</span>
            </div>
            <div class="small-10 column">
              <input type="text" placeholder="CP" name="small_cp"
                  {% if student is defined and student is not null %}
                    value="{{ student.CP }}"
                  {% endif %}/>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 column">
              <span class="prefix"><i class="fi-telephone medium-icon"></i></span>
            </div>
            <div class="small-10 medium-3 large-3 columns">
              <input type="text" placeholder="Teléfono" pattern="tlf" name="telefono"
                  {% if student is defined and student is not null %}
                    value="{{ student.Telefono }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar un número de teléfono válido</small>
            </div>
            <div class="large-2 column show-for-medium-up">
              <span class="prefix"><i class="fi-mail medium-icon"></i></span>
            </div>
            <div class="medium-5 large-5 columns show-for-medium-up">
              <input type="text" placeholder="Email" pattern="email" name="email"
                  {% if student is defined and student is not null %}
                    value="{{ student.Email }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar un email válido</small>
            </div>
          </div>
          <div class="row collapse show-for-small-only">
            <div class="small-2 column">
              <span class="prefix"><i class="fi-mail medium-icon"></i></span>
            </div>
            <div class="small-10 column">
              <input type="text" placeholder="Email" pattern="email" name="small_email"
                  {% if student is defined and student is not null %}
                    value="{{ student.Email }}"
                  {% endif %}
              required/>
              <small class="error">Debe indicar un email válido</small>
            </div>
          </div>
          <div class="row list">
            <div id="studyRemoved" class="custom-row first-row" hidden>
              <div class="small-6 small-centered column">
                <div data-alert class="alert-box alert round text-center">
                  ¡Estudio eliminado!
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
            {% if student is defined and student is not null %}
              <h3>Estudios y Títulos</h3>
              {% if student.EstudiosTitulos is empty %}
                <p class="text-center"><span class="warning round label">No existen estudios asociados</span></p>
              {% else %}
                <table class="centered">
                  <thead>
                  <tr>
                    <th>Denominación</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for study in student.EstudiosTitulos %}
                      <tr>
                        <td>{{ study.Denominacion }}</td>
                        <td>
                          {% if is_granted('ROLE_USER') %}
                            <a class="warning radius small button" href="{{ path('study_edit', { 'id' : study.Id}) }}"><i class="fi-page-edit small-icon"></i></a>
                          {% endif %}
                          <a class="study-remove-link alert radius small button" href="{{ url('remove-study', { 'id' : student.Id, 'study_id' : study.Id}) }}">
                            <i class="fi-x small-icon"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            {% endif %}
          </div>
          <div class="row list">
            <div id="knowledgeRemoved" class="custom-row first-row" hidden>
              <div class="small-6 small-centered column">
                <div data-alert class="alert-box alert round text-center">
                  ¡Conocimiento eliminado!
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
            {% if student is defined and student is not null %}
              <h3>Conocimientos y Habilidades</h3>
              {% if student.ConocimientosHabilidades is empty %}
                <p class="text-center"><span class="warning round label">No existen conocimientos asociados</span></p>
              {% else %}
                <table class="list">
                  <thead>
                  <tr>
                    <th>Denominación</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for knowledge in student.ConocimientosHabilidades %}
                    <tr>
                      <td>{{ knowledge.Denominacion }}</td>
                      <td>
                        {% if is_granted('ROLE_USER') %}
                          <a class="warning radius small button" href="{{ path('knowledge_edit', { 'id' : knowledge.Id}) }}">
                            <i class="fi-page-edit small-icon"></i>
                          </a>
                        {% endif %}
                        <a class="knowledge-remove-link alert radius small button" href="{{ path('remove-knowledge', { 'id' : student.Id, 'knowledge_id' : knowledge.Id }) }}">
                          <i class="fi-x small-icon"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            {% endif %}
          </div>
          <div class="row list">
            <div id="companyRemoved" class="custom-row first-row" hidden>
              <div class="small-6 small-centered column">
                <div data-alert class="alert-box alert round text-center">
                  ¡Empresa eliminado!
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
            {% if student is defined and student is not null %}
              <h3>Empresas</h3>
              {% if student.Empresas is empty %}
                <p class="text-center"><span class="warning round label">No existen empresas asociadas</span></p>
              {% else %}
                <table class="centered">
                  <thead>
                  <tr>
                    <th>Denominación</th>
                    <th>Dirección</th>
                    <th>Tlf.</th>
                    <th>Email</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for company in student.Empresas %}
                    <tr>
                      <td>{{ company.Denominacion }}</td>
                      <td>{{ company.Direccion }}&nbsp;&nbsp;{{ company.CP }}</td>
                      <td>{{ company.Telefono }}</td>
                      <td>{{ company.Email }}</td>
                      <td>
                        {% if is_granted('ROLE_USER') %}
                          <a class="warning radius small button" href="{{ path('company-edit', { 'id' : company.Id }) }}">
                            <i class="fi-page-edit small-icon"></i>
                          </a>
                        {% endif %}
                        <a class="company-remove-link alert radius small button" href="{{ path('remove-student-company', { 'id' : student.Id, 'company_id' : company.Id }) }}">
                          <i class="fi-x small-icon"></i>
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endif %}
            {% endif %}
          </div>
          {% if form_type == 'edit' %}
            <div class="row small-centered">
              <div class="small-12 column">
                <ul class="button-group round even-3">
                  <li><a href="{{ path('add-studies', { 'id' : student.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir estudio(s)</a></li>
                  <li><a href="{{ path('add-knowledges', { 'id' : student.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir conocimiento(s)</a></li>
                  {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('add-companies', { 'id' : student.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir empresa(s)</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          {% endif %}
          <div class="row small-centered">
            <div class="small-12 medium-3 large-3 columns">
              {% if form_type == 'edit' and is_granted('ROLE_USER') %}
                <button type="submit" class="button expand round warning"><i class="small-icon fi-pencil"></i>Modificar alumno</button>
              {% elseif form_type == 'new' %}
                <button type="submit" class="button expand round success"><i class="small-icon fi-plus"></i>Registrar alumno</button>
              {% endif %}
            </div>
            <div class="small-12 medium-3 large-3 columns">
              {% if form_type == 'new' %}
                <button type="reset" class="button expand round alert"><i class="small-icon fi-trash"></i>Limpiar</button>
              {% elseif is_granted('ROLE_USER') %}
                <a href="{{ path('student-remove', { 'id' : student.Id }) }}" class="student-remove-link alert round expand button ">
                  <i class="small-icon fi-trash"></i>Borrar
                </a>
              {% endif %}
            </div>
            <div class="small-12 medium-3 large-3 columns">
              <a href="{{ path('students-list') }}" class="button round"><i class="small-icon fi-list-thumbnails"></i>Ir al listado</a>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/students.js') }}"></script>
{% endblock %}