{% extends 'layout.html.twig' %}


{% block breadcrumbs %}
	<li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
	<li class="current"><i class="fi-book-bookmark small-icon"></i></li>
{% endblock %}

{% block content %}
  <div id="error" class="custom-row first-row" hidden>
    <div class="small-6 small-centered column">
      <div data-alert class="alert-box alert round text-center">
        ¡La acción no se ha realizado correctamente! Inténtalo de nuevo.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="small-12 column">
			<form 
				{% if form_type == 'new' %} 
					action="{{ path('study-edit', { 'id': 0 }) }}"
				{% elseif form_type == 'edit' %}
					action="{{ path('study-update', { 'id' : study.Id }) }}"
				{% endif %}
			method="post" data-abide>
			  	<fieldset>
			    	<legend>Datos del Estudio</legend>
			    	<div class="row">
					    <div class="small-12 column">
					    	<label>Denominación
						      	<input type="text" placeholder="Denominación" pattern="alpha" 
						      	{% if study is defined and study is not null %}
						      		value="{{ study.Denominacion }}"
						      	{% endif %}
						      	required/>
						      	<small class="error">No se permiten números en el nombre</small>
						    </label>
					    </div>
					  </div>
            <div class="row">
                <div class="small-12 column">
                  <label>Descripción
                      <textarea placeholder="Descripción" rows="8">
                        {% if study is defined and study is not null %}
                          {{ study.Descripcion }}
                        {% endif %}
                      </textarea>
                    </label>
                </div>
            </div>
            <div id="categoryRemoved" class="custom-row first-row" hidden>
              <div class="small-6 small-centered column">
                <div data-alert class="alert-box alert round text-center">
                  ¡Categoría eliminada!
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
            {% if study is defined and study is not null %}
              <div class="row">
                <h3>Categorías</h3>
                {% if study.Categorias is not empty %}
                  <table class="list">
                    <thead>
                    <tr>
                      <th>Denominación</th>
                      <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in study.Categorias %}
                      <tr>
                        <td>{{ category.Denominacion }}</td>
                        <td>
                          {% if is_granted('ROLE_USER') %}
                            <a class="button warning" href="{{ path('category_edit', { 'id': category.Id }) }}"><i class="fi-page-edit"></i></a>
                            <a class="button alert category-remove-link" href="{{ path('study-remove-category', { 'id': study.Id, 'category_id': category.Id }) }}">
                              <i class="fi-x small-icon"></i>
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                  <p class="text-center"><span class="warning round label">No existen categorias asociadas</span></p>
                {% endif %}
              </div>
            {% endif %}
            {% if study is defined and study is not null %}
              <div class="row">
                <h3>Alumnos</h3>
                <table class="list">
                  <thead>
                    <tr>
                      <th>Apellidos</th>
                      <th>Nombre</th>
                      <th>NIF</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for student in study.Alumnos %}
                      <tr>
                        <td>{{ student.Apellidos }}</td>
                        <td>{{ student.Nombre }}</td>
                        <td>{{ student.NIF }}</td>
                        <td>
                          {% if is_granted('ROLE_USER') %}
                            <a class="button warning" href="{{ path('student-edit', { 'id' : student.Id }) }}"><i class="fi-page-edit"></i></a>
                            <a class="button alert student-remove-link" href="{{ path('study-remove-student', { 'id' : study.Id, 'student_id' : student.Id }) }}">
                              <i class="fi-x small-icon"></i>
                            </a>
                          {% endif %}
                        </td>
                      </tr>
                    {% else %}
                      <p class="text-center"><span class="warning round label">No existen alumnos que posean este título</span></p>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
              {% if form_type == 'edit' %}
                <div class="row">
                  <div class="small-12 column">
                    <ul class="button-group round even-2">
                      <li><a href="{{ path('study-add-categories', { 'id' : study.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir categoría</a></li>
                      <li><a href="{{ path('study-add-students', { 'id' : study.Id }) }}" class="button"><i class="fi-plus"></i>&nbsp;Añadir alumno</a></li>
                    </ul>
                  </div>
                </div>
              {% endif %}
              <div class="row">
                <div class="small-4 column">
                  {% if form_type == 'new' %}
                    <button type="submit" class="success round button"><i class="small-icon fi-plus"></i>Crear estudio</button>
                  {% elseif form_type == 'edit' %}
                    <button type="submit" class="warning round button"><i class="small-icon fi-pencil"></i>Modificar estudio</button>
                  {% endif %}
                </div>
                {% if form_type == 'new' %}
                  <div class="small-4 column">
                    <button type="reset" class="button expand round alert"><i class="small-icon fi-trash"></i>Limpiar</button>
                  </div>
                {% endif %}
              {% endif %}
                <div class="small-4 column">
                  <a href="{{ path('studies-list') }}" class="button round"><i class="small-icon fi-list-thumbnails"></i>Volver al listado</a>
                </div>
              </div>
			  	</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/studies.js') }}"></script>
{% endblock %}