{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
  <li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
  <li class="current"><i class="fi-torso-business small-icon"></i></li>
{% endblock %}

{% block content %}
  {% if update_user is defined %}
    <div class="custom-row first-row">
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box info round text-center">
          ¡Usuario modificado!
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  {% elseif duplicate_user is defined %}
    <div class="custom-row first-row">
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box alert round text-center">
          ¡El email indicado ya esta registrado!
          <br>
          Revisa tu nombre de email y prueba de nuevo.
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if form_type is defined and form_type == 'edit' %}
    <div class="custom-row first-row">
      <div class="small-6 small-centered column">
        <div data-alert class="alert-box alert round text-center">
          ¡OJO! Ten en cuenta que si modificas el email se volverá a requerir que actives el usuario.
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="small-12 column">
      <form
      {% if app.user is defined and app.user is not null %}
        action="{{ path('user-update', {'id' : app.user.id }) }}"
      {% else %}
          action="{{ path('user-new') }}"
      {% endif %}
      method="post" data-abide>
        <fieldset>
          <legend>Datos de usuario</legend>
          <div class="row collapse">
            {% if error is defined %}
              <p class="text-center"><span class="alert label">{{ error }}</span></p>
            {% endif %}
            <div class="small-2 large-2 columns">
              <span class="prefix"><i class="fi-torso-business medium-icon"></i></span>
            </div>
            <div class="input-wrapper small-4 large-4 columns">
              <input type="text" placeholder="Email" name="username" pattern="alpha_numeric"
                  {% if app.user is not null %}
                    value="{{ app.user.username }}"
                  {% endif %}
                     required>
              <small class="error">Debes indicar un usuario válido</small>
            </div>
            <div class="small-6 large-6 columns">
              <span class="postfix">{{ domain }}</span>
            </div>
          </div>
          {% if app.user is not null %}

          {% else %}
            <div class="row collapse">
              <div class="small-2 large-2 columns">
                <span class="prefix"><i class="fi-lock medium-icon"></i></span>
              </div>
              <div class="input-wrapper small-10 large-10 columns">
                <input id="password" type="password" placeholder="Contraseña" name="password" pattern="alpha_numeric" required>
                <small class="error">Debes indicar una contraseña</small>
              </div>
            </div>
            <div class="row collapse">
              <div class="small-2 large-2 columns">
                <span class="prefix"><i class="fi-alert medium-icon"></i></span>
              </div>
              <div class="small-10 large-10 columns">
                <input type="password" placeholder="Repita su contraseña" pattern="alpha_numeric" data-equalto="password">
                <small class="error">Las contraseñas no coinciden</small>
              </div>
            </div>
          {% endif %}
          <div class="row">
            <div class="small-12 column">
              <div class="small-3 column">
                <button type="submit" class="button expand round warning">Modificar</button>
              </div>
              {% if app.user is not null %}
                <div class="small-3 column">
                  <a href="{{ path('reset-password') }}" class="button expand round primary">Cambiar contraseña</a>
                </div>
                <div class="small-3 column">
                  <a href="{{ path('user-delete', { 'id': app.user.id }) }}" class="button expand round alert"><i class="fi-trash small-icon"></i>Eliminar</a>
                </div>
              {% endif %}
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}