<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestor de Curriculums</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}" />
    <script src="{{ asset('js/modernizr.js') }}"></script>
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          <nav class="top-bar tab-bar" data-topbar role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">PIDAM</a></h1>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="left">
                <li class="has-dropdown">
                  <a href="#">Alumnos</a>
                  <ul class="dropdown">
                    <li><a href="{{ path('alumnos_lists') }}"><i class="fi-torsos-all small-icon"></i>Listado de Alumnos</a></li>
                    <li><a href="#"><i class="fi-plus small-icon"></i>Nuevo alumno</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Empresas</a>
                  <ul class="dropdown">
                    <li><a href="#"><i class="fi-torso-business small-icon"></i>Listado de Empresas</a></li>
                    <li><a href="#"><i class="fi-plus small-icon"></i>Añadir empresa</a></li>
                  </ul>
                </li>
              </ul>
            </section>
            <section class="left-small show-for-small-only">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
            <section class="top-bar-section shown-for-large-up hide-for-medium-down">
              <ul class="right">
                {% if user is not null %}
                  <li><a href="{{ path('admin_logout') }}" class="sucess button expand">Logout</a></li>
                {% else %}
                  <li class="has-form">
                    <form action="{{ path('admin_login_check') }}" method="post">
                      <div class="row collapse">
                        <div class="large-5 column">
                          <input type="email" placeholder="Email" name="_Email"
                            {% if last_email is defined %}
                              value="{{ last_email }}"
                            {% endif %}
                          required>
                        </div>
                        <div class="large-5 column">
                          <input type="password" placeholder="Contraseña" name="_Contraseña" required>
                        </div>
                        <div class="large-2 column">
                          <button type="submit" class="success button expand">Login</button>
                        </div>
                      </div>
                    </form>
                  </li>
                {% endif %}
                <li><a href="#" class="button expand" data-reveal-id="registerModal">Registro</a></li>
              </ul>
            </section>
            <section class="right-small show-for-medium-down">
              <a class="right-off-canvas-toggle fi-torsos-male-female medium-icon" id="canvas-right-icon"><span></span></a>
            </section>
          </nav>
          <ul class="breadcrumbs">
            {% block breadcrumbs %}
              <li><a href="{{ url('home') }}"><i class="fi-home small-icon current"></i></a></li>
            {% endblock %}
          </ul>
        </header>
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            {% if user is defined %}
                <li><a href="{{ path('admin_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="#" class="button radius success" data-reveal-id="loginModal">Login</a></li>
            {% endif %}
            <li><a href="#" class="button radius" data-reveal-id="registerModal">Registro</a></li>
          </ul>
        </aside>
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li class="has-submenu">
              <a href="#">Alumnos</a>
              <ul class="left-submenu">
                <li class="back"><a href="#">Volver</a></li>
                <li><a href="#"><i class="fi-torsos-all small-icon"></i>Listado de Alumnos</a></li>
                <li><a href="#"><i class="fi-plus small-icon"></i>Nuevo alumno</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">Empresas</a>
              <ul class="left-submenu">
                <li class="back"><a href="#">Volver</a></li>
                <li><a href="#"><i class="fi-torso-business small-icon"></i>Listado de Empresas</a></li>
                <li><a href="#"><i class="fi-plus small-icon"></i>Añadir empresa</a></li>
              </ul>
            </li>
          </ul>
        </aside>        
        <section class="main-section">
          {% if user is null %}
            <div class="row">
              <div class="small-12 column">
                <br>
                <div data-alert class="alert-box alert round text-center">
                  ¡El usuario no existe!
                  <a href="#" class="close">&times;</a>
                </div>
              </div>
            </div>
          {% endif %}
          {% block content %}{% endblock %}
          <div class="custom-row">
            <div class="small-12 large-12 columns">
              <p><strong>Manuel Berrio Martín &copy; 2015</strong> -- CFGS Desarrollo de Aplicaciones Multiplataforma</p>
            </div>
          </div>
        </section>
        <a class="exit-off-canvas"></a>
      </div>      
    </div>
    <div id="registerModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-8 large-centered columns">
        <h2 id="modalTitle" class="text-center">Nuevo usuario</h2>
        <p class="lead text-center">Rellena el siguiente formulario para inscribirte como usuario</p>
        <form action="#" method="post" data-abide>
          <div class="row collapse">
            <div class="small-2 large-2 columns">
              <span class="prefix"><i class="fi-mail medium-icon"></i></span>
            </div>
            <div class="input-wrapper small-4 large-4 columns">
              <input type="text" placeholder="Email" name="_Email"
                {% if last_email is defined %} value="{{ last_email }}" {% endif %}
                pattern="alpha_numeric" required>
              <small class="error">Debes indicar un email válido</small>
            </div>
            <div class="small-6 large-6 columns">
              <span class="postfix">{{ domain }}</span>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 large-2 columns">
              <span class="prefix"><i class="fi-lock medium-icon"></i></span>
            </div>
            <div class="small-10 large-10 columns">
              <input id="password" type="password" placeholder="Contraseña" name="_Contraseña" pattern="alpha_numeric" required>
              <small class="error">Debes indicar una contraseña</small>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-2 large-2 columns">
              <span class="prefix"><i class="fi-alert medium-icon"></i></span>
            </div>
            <div class="small-10 large-10 columns">
              <input type="password" placeholder="Repita su contraseña" pattern="alpha_numeric" data-equalto="password">
              <small class="error">Las contraseñas no coinciden</small>
            </div>
          </div>
          <button type="submit" class="button round success"><i class="small-icon fi-check"></i>Registrarse</button>
          <button type="reset" class="button round"><i class="small-icon fi-trash"></i>Limpiar</button>
        </form>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-8 large-centered columns">
        <form action="{{ path('admin_login_check') }}" method="post" data-abide>
          <fieldset>
            <legend>Login</legend>
            <div class="row collapse">
              {% if error is defined %}
                {{ error }}
              {% endif %}
              <div class="small-2 large-2 columns">
                <span class="prefix"><i class="fi-torso medium-icon"></i></span>
              </div>
              <div class="input-wrapper small-10 large-10 columns">
                <input type="text" placeholder="Email" name="_Email"
                {% if last_email is defined %}
                       value="{{ last_email }}" required>
                {% endif %}
                <small class="error">Debes indicar un usuario</small>
              </div>              
            </div>       
            <div class="row collapse">
              <div class="small-2 large-2 columns">
                <span class="prefix"><i class="fi-lock medium-icon"></i></span>
              </div>
              <div class="small-12 large-12 columns">
                <input type="password" placeholder="Contraseña" name="_Contraseña" pattern="alpha_numeric" required>
                <small class="error">Debes indicar una contraseña</small>
              </div>
            </div>
            <button type="submit" class="button round success"><i class="small-icon fi-unlock"></i>Login</button>
          </fieldset>
        </form>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/foundation.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
  </body>
</html>
