<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestor de Curriculums</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/foundation-icons.css') }}" />
    <script src="{{ asset('js/modernizr.js') }}"></script>
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          <nav class="top-bar tab-bar" data-topbar role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1><a href="{{ path('home') }}">PIDAM</a></h1>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="left">
                <li class="has-dropdown">
                  <a href="#">Alumnos</a>
                  <ul class="dropdown">
                    {% if is_granted('ROLE_USER') %}
                      <li><a href="{{ path('students-list') }}"><i class="fi-torsos-all small-icon"></i>Listado de Alumnos</a></li>
                    {% endif %}
                    <li><a href="{{ path('student-edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Nuevo alumno</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="#">Empresas</a>
                  <ul class="dropdown">
                    {% if is_granted('ROLE_USER') %}
                      <li><a href="{{ path('companies-list') }}"><i class="fi-torso-business small-icon"></i>Listado de Empresas</a></li>
                    {% endif %}
                    <li><a href="{{ path('company-edit', { 'id' : 0}) }}"><i class="fi-plus small-icon"></i>Añadir empresa</a></li>
                  </ul>
                </li>
                {% if is_granted('ROLE_USER') %}
                  <li class="has-dropdown">
                    <a href="#">Estudios</a>
                    <ul class="dropdown">
                      <li><a href="{{ path('studies_list') }}"><i class="fi-book-bookmark small-icon"></i>Listado de Estudios</a></li>
                      <li><a href="{{ path('study_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Nuevo estudio</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Conocimientos</a>
                    <ul class="dropdown">
                      <li><a href="{{ path('knowledges_list') }}"><i class="fi-bookmark small-icon"></i>Listado de Conocmientos</a></li>
                      <li><a href="{{ path('knowledge_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Añadir conocimiento</a></li>
                    </ul>
                  </li>
                  <li class="has-dropdown">
                    <a href="#">Categorías</a>
                    <ul class="dropdown">
                      <li><a href="{{ path('categories_list') }}"><i class="fi-star small-icon"></i>Listado de Categorías</a></li>
                      <li><a href="{{ path('category_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Añadir categoría</a></li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
            </section>
            <section class="left-small show-for-small-only">
              <a class="left-off-canvas-toggle menu-icon"><span></span></a>
            </section>
            <section class="top-bar-section shown-for-large-up hide-for-medium-down">
              <ul class="right">
                {% if app.user is not null %}
                  <li><a href="{{ path('user_logout') }}" class="button expand">Logout</a></li>
                  <li><a class="button expand warning" href="{{ path('user-edit', { 'id' : app.user.id }) }}"><i class="fi-widget"></i></a></li>
                {% else %}
                  <li class="has-form">
                    <form action="{{ path('user_login_check') }}" method="post">
                      <div class="row collapse">
                        <div class="large-5 column">
                          <input type="text" placeholder="Username" name="_username"
                            {% if last_username is defined %}
                              value="{{ last_username }}"
                            {% endif %}
                          required>
                        </div>
                        <div class="large-5 column">
                          <input type="password" placeholder="Contraseña" name="_password" required>
                        </div>
                        <div class="large-2 column">
                          <button type="submit" class="success button expand">Login</button>
                        </div>
                      </div>
                    </form>
                  </li>
                  <li><a class="button expand" data-reveal-id="registerModal">Nuevo registro</a></li>
                {% endif %}
              </ul>
            </section>
            <section class="right-small show-for-medium-down">
              <a class="right-off-canvas-toggle fi-torsos-male-female medium-icon" id="canvas-right-icon"><span></span></a>
            </section>
          </nav>
          <ul class="breadcrumbs">
            {% block breadcrumbs %}
              <li class="current"><i class="fi-home small-icon"></i></li>
            {% endblock %}
          </ul>
        </header>
        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            {% if app.user is not null %}
              <li><a class="button radius" href="{{ path('user_logout') }}">Logout</a></li>
              <li><a class="button radius warning" href="{{ path('user-edit', { 'id' : app.user.Id }) }}"><i class="fi-widget medium-icon"></i></a></li>
            {% else %}
              <li><a href="#" class="button radius success" data-reveal-id="loginModal">Login</a></li>
              <li><a href="#" class="button radius" data-reveal-id="registerModal">Nuevo registro</a></li>
            {% endif %}
          </ul>
        </aside>
        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li class="has-submenu">
              <a href="#">Alumnos</a>
              <ul class="left-submenu">
                <li class="back"><a href="#">Volver</a></li>
                {% if is_granted('ROLE_USER') %}
                  <li><a href="{{ path('students-list') }}"><i class="fi-torsos-all small-icon"></i>Listado de Alumnos</a></li>
                {% endif %}
                <li><a href="{{ path('student-edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Nuevo alumno</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">Empresas</a>
              <ul class="left-submenu">
                <li class="back"><a href="#">Volver</a></li>
                {% if is_granted('ROLE_USER') %}
                  <li><a href="{{ path('companies-list') }}"><i class="fi-torso-business small-icon"></i>Listado de Empresas</a></li>
                {% endif %}
                <li><a href="{{ path('company-edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Añadir empresa</a></li>
              </ul>
            </li>
            {% if is_granted('ROLE_USER') %}
              <li class="has-submenu">
                <a href="#">Estudios</a>
                <ul class="left-submenu">
                  <li><a href="{{ path('studies_list') }}"><i class="fi-book-bookmark small-icon"></i>Listado de Estudios</a></li>
                  <li><a href="{{ path('study_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Nuevo estudio</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">Conocimientos</a>
                <ul class="left-submenu">
                  <li><a href="{{ path('knowledges_list') }}"><i class="fi-bookmark small-icon"></i>Listado de Conocmientos</a></li>
                  <li><a href="{{ path('knowledge_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Añadir conocimiento</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">Categorías</a>
                <ul class="left-submenu">
                  <li><a href="{{ path('categories_list') }}"><i class="fi-star small-icon"></i>Listado de Categorías</a></li>
                  <li><a href="{{ path('category_edit', { 'id' : 0 }) }}"><i class="fi-plus small-icon"></i>Añadir categoría</a></li>
                </ul>
              </li>
            {% endif %}
          </ul>
        </aside>        
        <section class="main-section">
          {% block content %}{% endblock %}
          <footer class="footer">
            <div class="small-10 small-offset-1 column">
              <p><strong>Manuel Berrio Martín &copy; 2015</strong> -- CFGS Desarrollo de Aplicaciones Multiplataforma</p>
            </div>
          </footer>
        </section>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
    <div id="registerModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-8 large-centered columns">
        <h2 id="modalTitle" class="text-center">Nuevo usuario</h2>
        <p class="lead text-center">Rellena el siguiente formulario para inscribirte como usuario</p>
        <form action="{{ path('user-new') }}" method="post" data-abide>
          <div class="small-12 column">
            <div class="row collapse">
              <div class="show-for-medium-up medium-4 large-2 column">
                <span class="prefix"><i class="fi-mail medium-icon"></i></span>
              </div>
              <div class="input-wrapper small-12 medium-8 large-4 columns">
                <input type="text" placeholder="Username" name="username" pattern="alpha_numeric" required>
                <small class="error">Debes indicar un nombre de usuario válido</small>
              </div>
              <div class="show-for-large-only large-6 columns">
                <span class="postfix">{{ domain }}</span>
              </div>
            </div>
            <div class="row collapse">
              <div class="show-for-medium-up medium-4 large-2 columns">
                <span class="prefix"><i class="fi-lock medium-icon"></i></span>
              </div>
              <div class="small-12 medium-8 large-10 columns">
                <input id="password" type="password" placeholder="Contraseña" name="password" pattern="alpha_numeric" required>
                <small class="error">Debes indicar una contraseña</small>
              </div>
            </div>
            <div class="row collapse">
              <div class="show-for-medium-up medium-4 large-2 columns">
                <span class="prefix"><i class="fi-alert medium-icon"></i></span>
              </div>
              <div class="small-12 medium-8 large-10 columns">
                <input name="confirm_password" type="password" placeholder="Repita su contraseña" pattern="alpha_numeric" data-equalto="password">
                <small class="error">Las contraseñas no coinciden</small>
              </div>
            </div>
            <button type="submit" class="success round button"><i class="small-icon fi-check"></i>Registrarse</button>
            <button type="reset" class="alert round button"><i class="small-icon fi-trash"></i>Limpiar</button>
          </div>
        </form>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    <div id="loginModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <div class="small-8 small-centered large-8 large-centered columns">
        <form action="{{ path('user_login_check') }}" method="post" data-abide>
          <fieldset>
            <legend>Login</legend>
            <div class="small-12 column">
              <div class="row collapse">
                <div class="show-for-medium-up medium-2 large-2 columns">
                  <span class="prefix"><i class="fi-torso medium-icon"></i></span>
                </div>
                <div class="input-wrapper small-12 medium-10 large-4 columns">
                  <input type="text" placeholder="Email" name="_username" required>
                  <small class="error">Debes indicar un email</small>
                </div>
                <div class="show-for-large-only large-6 columns">
                  <span class="postfix">{{ domain }}</span>
                </div>
              </div>
              <div class="row collapse">
                <div class="show-for-medium-up medium-2 large-2 columns">
                  <span class="prefix"><i class="fi-lock medium-icon"></i></span>
                </div>
                <div class="small-12 medium-10 large-10 columns">
                  <input type="password" placeholder="Contraseña" name="_password" pattern="alpha_numeric" required>
                  <small class="error">Debes indicar una contraseña</small>
                </div>
              </div>
              <button type="submit" class="button round success"><i class="small-icon fi-unlock"></i>Login</button>
            </div>
          </fieldset>
        </form>
      </div>
      <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>
    {% block scripts %}
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/foundation.min.js') }}"></script>
      <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
